@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

$font-family-base: 'Zilla Slab', serif;
$primary: #7d141d;

body {
	overflow-y: scroll;
}

.yellow {
	background-color: rgba(254, 223, 25, 0.8) !important; // #fedf19;
	font-weight: bold;
}

.maze {
	display: grid;
	border: 3px solid black;
}

.maze-cell {
	border: 1px solid black;
	position: relative;
	padding-top: 100%;
}

.maze-cell-corner {
	position: absolute;
	top: 0;
	right: 0;
	width: 15%;
	height: 15%;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

.maze-cell-content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.maze-cell-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50%;
	display: flex;
}

.maze-cell-bottom > div {
	flex: 1;
	border-top: 1px solid black;
	border-right: 1px solid black;
}

.maze-cell-bottom > div:last-child {
	border-right: none;
}


.correct {
	background-color: lightgreen;
}

.wrong {
	background-color: lightcoral;
}

.correct-path {
	background-color: lightgreen;
}

.wrong-path {
	background-color: lightcoral;
}

.missed-path {
	background-color: lightseagreen;
}


.arrow {
	display: inline-block;
	transition: transform 0.3s;
	padding-right: 0.5rem;
}
.rotate {
	transform: rotate(90deg);
}

.icon:hover {
	border-width: 3px !important;
}

//Import Bootstrap
@import '~bootstrap/scss/bootstrap';
