@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

$font-family-base: 'Zilla Slab', serif;
$primary: #7d141d;

.yellow {
	background-color: rgba(254, 223, 25, 0.8); // #fedf19;
	font-weight: bold;
}

// Import Bootstrap
@import '~bootstrap/scss/bootstrap';
