//Font Family
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap");
$font-family-base: "Twemoji Country Flags", "Zilla Slab", serif;

//Primary color
$primary: #7d141d;


body {
	overflow-y: scroll;
}


.yellow {
	background-color: rgba(254, 223, 25, 0.8) !important; // #fedf19;
	font-weight: bold;
}


//Styles for index page
.layout-container {
	display: grid;
	grid-template-rows: auto 1fr;
	min-height: min(100vh, 720px);
}

.fill-height {
	height: 100%;
}

.fill-height-with-max {
	@extend .fill-height;
	max-height: 720px;
}

.yellow-full {
	background-color: #fedf19 !important;
}

.red {
	background-color: #7d141d;
	color: white;
}

.carousel-item {
	position: relative;
	width: 100%;
	height: 300px;
}

.carousel-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: scale-down;
}


//Style for online solver
.path {
	background-color: #7d141d50;
	font-style: italic;
}


//Styles for maze grid
.maze {
	display: grid;
	border: 3px solid black;
}

.maze-cell {
	border: 1px solid black;
	position: relative;
	padding-top: 100%;
}

.maze-cell-solving {
	border: 1px solid black;
	position: relative;
	height: 100%;
}

.maze-cell-corner {
	position: absolute;
	top: 0;
	right: 0;
	width: 15%;
	height: 15%;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

.maze-cell-content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.maze-cell-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50%;
	display: flex;
}

.maze-cell-bottom > div {
	flex: 1;
	border-top: 1px solid black;
	border-right: 1px solid black;
}

.maze-cell-bottom > div:last-child {
	border-right: none;
}

.centered-flex-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


//Styles for solution
.correct {
	background-color: lightgreen;
}

.wrong {
	background-color: lightcoral;
}

.correct-path {
	background-color: lightgreen;
}

.wrong-path {
	background-color: lightcoral;
}

.missed-path {
	background-color: lightseagreen;
}


//Styles for generating maze
.arrow {
	display: inline-block;
	transition: transform 0.3s;
	padding-right: 0.5rem;
}

.rotate {
	transform: rotate(90deg);
}


//Style for profile
.icon:hover {
	border-width: 3px !important;
}


//Style for uploading a maze
.image-outer-container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image-inner-container {
	width: 100vh;
	height: 100vh;
	overflow: hidden;
	position: relative;
}

.rotatedImage {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 100%;
	width: 100%;
	object-fit: contain;
}


//Import Bootstrap
@import "~bootstrap/scss/bootstrap";


//Styles for MazeModal
.until-md {
	display: none;
}

@include media-breakpoint-down(md) {
	.until-md {
		display: block;
	}
}

.modal-container {
	width: 100%;
}

@include media-breakpoint-up(sm) {
	.modal-container {
		max-width: 540px;
	}
}

@include media-breakpoint-up(md) {
	.modal-container {
		max-width: 720px;
	}
}

@include media-breakpoint-up(lg) {
	.modal-container {
		max-width: 960px;
	}
}

@include media-breakpoint-up(xl) {
	.modal-container {
		max-width: 1140px;
	}
}

@include media-breakpoint-up(xxl) {
	.modal-container {
		max-width: 1320px;
	}
}
